* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 0.2fr 1fr;
}

.sidebar,
.header,
.main {
  border: 1px solid black;
}

.sidebar {
  display: grid;
  height: 100vh;
  gap: 2rem;
  grid-row-start: 1;
  grid-row-end: 3;
}

.svg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
#sidebar {
  height: 30px;
  width: 30px;
}
.sidebar > div {
  border: 0.1px solid black;
}
.sidebar > .title {
  font-size: large;
  font-weight: bold;
}
.header {
}

.main {
}
